# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit logs/states
.streamlit/

# Databases & Vector store data
database/*.db
database/*.db-journal
database/chroma_db/
database/test_edurag.db
database/test_chroma_db/

# Local data cache
data/uploads/*
!data/uploads/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
